/**
	Table settlers app
*/

/**
 * Table of Contents
 * 1.0 - Reset CSS
 * 2.0 - Variables
 	* 2.1 - Colors
 	* 2.2 - Fonts
 * 3.0 - General
 * 4.0 - Cover

 	

 * 14.0 - Responsive
 	* 14.1 - Mobile
 	* 14.2 - Tablet
 	* 14.3 - Desktop

 */


/* =====================
   1.0 Reset css
   ===================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	opacity: 1;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


/* =====================
   2.0 Variables
   ===================== */

/* 2.1 Colors
------------------------
*/   

$white: #FFF;
$black: #000;
$badass: #bada55;
$red: #660000;


/* 2.1 Fonts
------------------------
*/  

$small: 0.8rem; 
$regular: 1rem;
$huge: 4rem;

$klavika-bld: 'Klavika Bold';
$klavika-lgh: 'Klavika Light';
$klavika-med: 'Klavika Medium';
$klavika: 'Klavika Regular';



/* =====================
   3.0 General
   ===================== */

html {
	font-size: 16px;
}

body {
	background-color: $black;
	font-family: $klavika-lgh;
}

.d-none {
	display: none!important;
}

.op-none {
	opacity: 0;
}



/* =====================
   3.0 Cover
   ===================== */

.cover {

	height: 100vh;
	padding: 25px;
	background: url('../img/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left bottom;
	background-color: $black;
	color: $white;

	.cover-content {
		.statements {
			li {
				display: inline-block;
				p {
					span {
						display: inline-block;
						height: calc(#{$huge} + 0.2rem);
						border-bottom: 1px solid $white;
						font-size: $huge;
						text-transform: uppercase;
						line-height: calc(#{$huge} + 1rem);
					}

				}
				&[class^='mid-'],
				&[class*=' mid-'] {
					position: absolute;
				    top: calc(40vh - 10px);
				}
				&.mid-left {
					left: 94px;
				}
				&.mid-right {
					right: 94px;
					text-align: right;
				}
				&.altop-right {
					position: absolute;
				    top: calc(40vh - 80px);
					right: 94px;
					text-align: right;
				}
			}
		}
		.intro {
			position: absolute;
			bottom: 13%;
			p {
				font-size: $small;
				line-height: $regular;	
			}
		}
	}

	.arrow-controls {
		width: calc(100vw - 50px);
		height: 50px;
		position: absolute;
		top: 40vh;
		left: 25px;
		li {
			position: absolute;
			button {
				display: inline-block;
				background: none;
				border: none;
				outline: none;
			    cursor: pointer;
			    i {
			    	font-size: 50px;
			    	color: $white;
			    }
			}
			&.arrow-left {
		    	left: 0;
		    }
		    &.arrow-right {
		    	right: 0;
		    }
		}
	}
	
	.pagination {
		position: absolute;
	    bottom: 25px;
	    left: 25px;
	    .pagination-list {
	    	display: inline-block;
			border: 2.9px solid $white;
	  		border-image-source: url(../img/border2.png);
	  		border-image-slice: 15 15;
	  		border-image-repeat: round;

			li {
				display: inline-block;
				width: 28px;
				margin: 0 0 0 -2px;
			    padding: 3px;
				&:not(:last-of-type) {
					border-right: 2.9px solid $white;
			  		border-image-source: url(../img/border2.png);
			  		border-image-slice: 15 15;
			  		border-image-repeat: round;
				}
				&:last-of-type {
					width: 23px;
				}
				span {
				    display: block;
					font-size: $small;
					text-align: center;
					&.white-box {
						background-color: $white;
					}
					&.transparent {
						color: transparent;
					}
				}
			}
		}
		.enlight {
			display: inline-block;
			p {
				margin-left: 20px;
				font-size: $small;
			}
		}
	}


	.mm-logo {
		display: block;
	    position: absolute;
	    bottom: 3px;
	    right: 25px;
		svg {
		    max-width: 80px;
    		max-height: 80px;
    		-webkit-filter: invert(100%);
		    filter: invert(100%);
		}
	}

}
